services:
  video-manager:
    build:
      context: ../video_manager_service
      dockerfile: Dockerfile
    container_name: video-manager
    environment:
      - VIDEO_SOURCE=/app/videos/video1.mp4
      - VIDEO_WIDTH=640
      - VIDEO_HEIGHT=480
      - VIDEO_SHM_PATH=/dev/shm/video0
      - LOG_FILE_PATH=/app/logs/video_manager.log
    volumes:
      - ../videos:/app/videos:ro
      - ../logs:/app/logs
      - /dev/shm:/dev/shm
    command: python src/main.py
    network_mode: host
    restart: unless-stopped

  algorithm-service:
    build:
      context: ../algorithm_service
      dockerfile: Dockerfile
    container_name: algorithm-service
    depends_on:
      - video-manager
    environment:
      - LOG_FILE_PATH=/app/logs/algorithm.log
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - ENABLE_IMSHOW=1
    volumes:
      - ../logs:/app/logs
      - ../records:/app/records
      - /dev/shm:/dev/shm
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    network_mode: host
    restart: unless-stopped

  gui-service:
    build:
      context: ../gui_service
      dockerfile: Dockerfile
    container_name: gui-service
    environment:
      - DISPLAY=:1
      - QT_X11_NO_MITSHM=1
      - XDG_RUNTIME_DIR=/tmp/runtime-root
      - NO_AT_BRIDGE=1
      - LIBGL_ALWAYS_SOFTWARE=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../logs:/app/logs
      - ../records:/app/records
    network_mode: host
    restart: unless-stopped

  
